datasets
hydra-core
torch
torchao!=0.14.0
torchdata
torchmetrics
tqdm
transformer_engine[pytorch]
transformers>=5.12.1,<5.13
wandb
zstandard
nvdlfw_inspect @ git+https://github.com/NVIDIA/nvidia-dlfw-inspect
pytest
